Шмеле страница

Верхнее меню в массиве topMenu
У каждого элемента два поля:
href - адрес ссылки (всегда #)
text - текст ссылки

Левое меню в массиве leftMenu
У каждого элемента два поля:
href - адрес ссылки (всегда #)
text - текст ссылки

Поздравление в строке congratulation
Переменная может быть или не быть. Появляется случайно.

Главный текст в переменной mainText

Левое меню в массиве rightMenu
У каждого элемента два поля:
href - адрес ссылки (всегда #)
text - текст ссылки

Список победителей в массиве winners
Может быть пустым случайно.
У каждого элемента два поля:
href - адрес ссылки (всегда #)
text - текст ссылки

В футере повторить содержимое верхнего меню.
